:root {
  --bg-color: #f4f5f7;
  --soft-bg-color: white;
  --text-color: #303030;
  --bs-primary: #9b78cd;
  --bs-primary-hover: #ad8edc;
  --bs-primary-disabled: #d7cde6;
  --bs-primary-text-disabled: #f5f3f8;
  --bs-primary-focus: #7a5eb0;
}

body {
  background-color: var(--soft-bg-color);
}

.task-title.checked {
  text-decoration: line-through;
  color: gray;
}

.container {
  max-width: 425px;
  color: var(--text-color);
}

.bg {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: var(--bs-primary-disabled);
  border-color: var(--bs-primary-disabled);
  opacity: 1;
}

.btn-primary:hover {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
}

.btn-primary:focus {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
}

.form-control,
.form-control:focus,
.form-check-input {
  background-color: var(--soft-bg-color);
  border: 0;
  color: var(--text-color);
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}