body.dark-mode {
  --bg-color: #1a1125;
  --soft-bg-color: #261d32;
  --text-color: #f5f3f8;
  --bs-primary: #5b31a7;
  --bs-primary-hover: #6d43bd;
  --bs-primary-disabled: #b3aadb;
  --bs-primary-focus: #4a2690;
}