:root {
  --bs-body-bg: 255, 255, 255;
  --bs-secondary-bg: 249, 249, 249;
  --bs-body-color: 102, 102, 90;
  --bs-primary: 102, 102, 90;
  --bs-primary-hover: 132, 132, 120;
  --bs-primary-focus: 72, 72, 60;
  --red: 255, 147, 139;
  --green: 106, 196, 109;
  --blue: 108, 182, 255;
  --pink: 252, 141, 199;
  --yellow: 218, 170, 63;
  --purple: 203, 158, 251;
  --orange: 246, 157, 80;
}

body {
  background-color: rgb(var(--bs-body-bg));
  color: rgb(var(--bs-body-color));
}

hr {
  background-color: rgb(var(--bs-body-color));
}

::placeholder {
  color: rgb(var(--bs-body-color)) !important;
  opacity: .5 !important;
}

.badge {
  font-weight: normal;
  font-size: .9rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.bi {
  font-style: normal;
}

.border-bottom {
  border-color: rgb(var(--bs-body-color), .25) !important;
}

.btn-delete-task:hover,
#toggle-theme:hover {
  color: rgb(var(--bs-primary-hover));
  transition: color 0.2s;
}

.btn-primary {
  background-color: rgb(var(--bs-primary));
  border-color: rgb(var(--bs-primary));
  color: rgb(var(--bs-body-bg));
  padding: 0.5rem 1rem;
}

.btn-primary,
.btn-transparent-2,
.filter,
.form-control {
  border-radius: .66rem;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: rgb(var(--bs-primary));
  border-color: rgb(var(--bs-primary));
  color: rgb(var(--bs-body-bg));
}

.btn-primary:hover {
  background-color: rgb(var(--bs-primary-hover));
  border-color: rgb(var(--bs-primary-hover));
  color: rgb(var(--bs-body-bg));
}

.btn-primary:focus {
  background-color: rgb(var(--bs-primary-hover));
  border-color: rgb(var(--bs-primary-hover));
  color: rgb(var(--bs-body-bg));
}

.btn-transparent {
  color: inherit;
  padding: 0;
}

.bi:hover,
.btn-transparent:hover,
.btn-transparent-2:hover {
  color: rgb(var(--bs-primary-hover));
}

.btn-transparent-2 {
  background-color: rgb(var(--bs-secondary-bg));
  color: rgb(var(--bs-body-color));
  border: 0;
  padding-right: .1rem;
}

.btn-transparent-2:focus {
  box-shadow: none;
}

.category-name {
  color: rgb(var(--bs-body-color));
}

.dropdown-item {
  color: rgb(var(--bs-body-color)) !important;
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: transparent !important;
  color: rgb(var(--bs-primary-hover)) !important
}

.dropdown-menu {
  background-color: rgb(var(--bs-secondary-bg));
  border-color: rgb(var(--bs-body-color), .25);
}

.filter {
  padding: 0 .25rem;
}

.filter.active,
.filter:hover {
  background-color: rgb(var(--bs-secondary-bg));
}

.filter.active {
  font-weight: 500;
}

.form-check-input,
hr {
  opacity: .33 !important;
}

.form-check-input {
  flex-shrink: 0;
  border: 1px solid rgb(var(--bs-body-color));
}

.form-control,
.form-control:focus {
  background-color: rgb(var(--bs-secondary-bg));
  color: rgb(var(--bs-body-color));
  border: 0;
  resize: none;
}

.task-check {
  background-color: rgb(var(--bs-body-bg));
  margin-right: 8px;
  border-radius: 50% !important;
  width: 1.2em;
  height: 1.2em;
}

.form-check-input:checked {
  background-color: rgb(var(--bs-primary));
  border-color: rgb(var(--bs-primary));
}

#form-task .form-control {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#form-task .btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item {
  color: rgb(var(--bs-body-color));
  background: transparent;
  border: none;
  padding: 2px 0;
}

.list-group-item.d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.modal-content {
  background-color: rgb(var(--bs-body-bg));
  border-radius: 1rem;
  border: 0;
}

.navbar-brand {
  font-weight: 500;
  font-size: inherit;
  user-select: none;
  cursor: pointer;
}

.offcanvas {
  background-color: rgb(var(--bs-body-bg));
}

.pulse {
  animation: pulse 0.5s ease-in-out;
}

.task-item {
  cursor: pointer;
}

.task-title {
  flex: 1 1 0;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.task-title.checked {
  text-decoration: line-through;
  opacity: .5
}

.text-danger {
  color: rgb(var(--red)) !important;
}

.text-primary {
  color: rgb(var(--bs-primary)) !important;
}

.text-success {
  color: rgb(var(--green)) !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
  .modal-content {
    min-width: 768px;
  }
}