:root {
  --bs-body-bg: white;
  --bs-secondary-bg: #F9F9F9;
  --bs-body-color: #66665A;
  --bs-primary: #66665A;
  --bs-primary-hover: #66665A;
  --bs-primary-focus: #66665A;
}

body {
  background-color: var(--bs-body-bg);
}

hr {
  background-color: var(--bs-body-color);
}

::placeholder {
  color: var(--bs-body-color) !important;
  opacity: .5 !important;
}

.badge {
  font-weight: normal;
  font-size: .9rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.bi {
  font-style: normal;
}

.btn-transparent {
  color: inherit;
  padding: 0;
}

.btn-delete-task:hover,
#toggle-theme:hover {
  color: var(--bs-primary-hover);
  transition: color 0.2s;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  padding: 0.5rem 1rem;
}

.btn-primary,
.form-control {
  border-radius: .66rem;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
}

.btn-primary:focus {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
}

.category-name {
  color: var(--bs-body-color);
}

.dropdown-item {
  color: var(--bs-body-color) !important;
}

.form-check-input,
hr {
  opacity: .33 !important;
}

.form-check-input {
  flex-shrink: 0;
  border: 1px solid var(--bs-body-color);
}

.form-control,
.form-control:focus {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
  border: 0;
  resize: none;
}

.task-check {
  background-color: var(--bs-body-bg);
  margin-right: 8px;
  border-radius: 50% !important;
  width: 1.2em;
  height: 1.2em;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

#form-task .form-control {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#form-task .btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item {
  color: var(--bs-body-color);
  background: transparent;
  border: none;
  padding: 2px 0;
}

.list-group-item.d-flex.align-items-center {
  display: flex;
  align-items: center;
}

.modal-content {
  border-radius: 1rem;
  border: 0;
}

.navbar-brand {
  font-weight: 500;
  font-size: inherit;
  user-select: none;
}

.task-title {
  flex: 1 1 0;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.task-title.checked {
  text-decoration: line-through;
  opacity: .5
}

.text-primary {
  color: var(--bs-primary) !important;
}

.pulse {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
  .modal-content {
    min-width: 768px;
  }
}